.secondaryTitle {
  font-size: 1.5em;
  font-weight: bold;
  margin-bottom: 0.5em;
  text-align: center;
  color: #a82f2f;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.callBox {
  background-color: #ffffff;
  border: 1px solid #a82f2f;
  border-radius: 5px;
  padding: 0.5em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
  text-align: center;
  width: 90%;
}

.callTitle {
  font-size: 1.2em;
  font-weight: bold;
  text-decoration: underline;
  margin-bottom: 0.5em;
  text-align: center;
  color: #2d1313;
}

.callText {
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0.5em;
  text-align: center;
  color: #2d1313;
}

button {
  background-color: #a82f2f;
  border: none;
  border-radius: 5px;
  color: #ffffff;
  font-size: 1em;
  font-weight: bold;
  margin-bottom: 0.5em;
  padding: 0.5em;
  text-align: center;
  width: 20%;
}

button:hover {
  background-color: #2d1313;
  color: #ffffff;
  cursor: pointer;
}

#map {
  height: 400px;
  width: 90%;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
  margin-top: 1em;
}
